:root{

    /* Identidade */

    --campo-dark: #0F2A1D;
    --campo-primary: #2E7D32;
    --campo-secondary: #4CAF50;
    --campo-light: #A5D6A7;
    --campo-gold: #D4AF37;

    /* Interface */

    --bg-primary: #F7F9F7;
    --bg-secondary: #EEF4EE;
    --bg-card: #FFFFFF;

    --text-main: #1A1A1A;
    --text-secondary: #5E6A61;

    /* Layout */

    --radius: 20px;

    --shadow-sm: 0 4px 12px rgba(0,0,0,.08);
    --shadow-md: 0 10px 30px rgba(0,0,0,.10);
    --shadow-lg: 0 20px 50px rgba(0,0,0,.15);

    --container: 1200px;

}
